extends layout

block layout-content

    include header
    if alert 
        div.alert.alert-dismissible.alert-success
            p #{alert}
    div.View
        h1.Banner DevPages

        div.NavButtons
        a(href="/collection")
            div.btn.btn-primary Just dive in!

    include footer