doctype html
html(lang="en")
  head
    block variables
    meta(charset="utf-8")
    //- link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="/bootstrap.min.css")
    link(rel="stylesheet", href="/custom.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | DevPages
  body
    main
      block layout-content
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")