html,
body,
#root,
.container {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 50vw;
}

.sign-form {
  max-width: 90%;
}

.btn-primary {
  width: 100%;
}

.mb-3 {
  margin-top: 2em;
}
.container {
  height: 100%;
}

.row {
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert p {
  margin: 0;
}

.alert {
  padding: 1em 2em;
  margin-bottom: 3em;
}

.col-md-6 {
  width: 40%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formContainer .alert {
  margin: 2em 0;
}

.preferenceButtons {
  display: flex;
  flex-direction: column;
}

.language-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}

.language-title label {
  margin-bottom: 0 !important;
}

.language-title small {
  margin-bottom: 0.5rem !important;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.language-checkbox-container {
  border: 2px solid var(--bs-border-color);
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 300px;
  height: 100px;
  overflow-y: scroll;
}

.footer {
  background-color: var(--bs-primary);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
