form {
  width: 50vw;
}

.sign-form {
  max-width: 90%;
}

.btn-primary {
  width: 100%;
}

.mb-3 {
  margin-top: 2em;
}

.row {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-md-6 {
  width: 40%;
}
.formContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.preferenceButtons {
  display: flex;
  flex-direction: column;
}

.language-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}

.language-title label {
  margin-bottom: 0 !important;
}

.language-title small {
  margin-bottom: 0.5rem !important;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.language-checkbox-container {
  border: 2px solid var(--bs-border-color);
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 300px;
  height: 100px;
  overflow-y: scroll;
}
